/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */

/* CSS allows you to give your page style (colors, shapes, fonts, etc.)
You can apply CSS elements to entire HTML classes. Review Lesson 1.3
if you need a refresher about how to do this. */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	font-family: Verdana;
} 

body{
	max-width: 820px;
}

.index{
	background-color: #a8c2e5;
	color: black;
	display: inline-block;
    padding: 10px;
	margin: 10px auto;
	border-radius: 20px;
}

.header{
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 20px;
	margin: auto;
	padding: 10px;

}


.title1{
	background-color: #1A3F73;
	color: white;
	display: inline-block;
    padding: 10px;
	margin: 10px auto;
	border-radius: 40% 20px;
}

.title2{
	background-color: #316fc5;
	color: white;

	padding: 10px;
	margin: 10px auto;
	border-radius: 20px
}

.title3{
	background-color: #9ef2ca;
	color: black;
	display: flex;
	padding: 10px;
	margin: 10px auto;
	border-radius: 20px
}

.content{
	background-color: #fff6be;
	color: black;
	display: inline-block;
	padding: 10px;
	word-wrap: break-word;
}

.example-content{
	background-color: #fff6be;
	color: black;
	display: flex;
	flex-wrap: wrap;	
}

.example{
	border: 3px solid black;
	width: 400px;
	word-wrap: break-word;
}

.CLASSNAME{
	background-color: #cee0f9;
}

.footer{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
	margin: 10px auto;
	border-radius: 1px 70%;
}